<div class="content">
  <div class="type-detail">


    <div>
      <div class="input">
        <label for="checkbox">Critical Hit? (-10%) </label>
        <input type="checkbox" (change)="updateValue()" [(ngModel)]="isCritical">
      </div>
      <div class="input">
        <label for="checkbox">Hit KO? (-10%) </label>
        <input [disabled]="isLowLife" type="checkbox" (change)="updateValue()" [(ngModel)]="isHitKO">
      </div>
      <div class="input">
        <label for="checkbox">Low Life? (+10%) </label>
        <input [disabled]="isHitKO" type="checkbox" (change)="updateValue()" [(ngModel)]="isLowLife">
      </div>

      <h1>Current Chance {{ value }}%</h1>

      <div class="button-container">
        <button (click)="generateRevivalChance(-10)">Super effective (-10%)</button>
        <button (click)="generateRevivalChance(0)">Neutral</button>
        <button (click)="generateRevivalChance(10)">Not effective (+10%)</button>
      </div>

    </div>

  </div>

  <div class="dialog" [ngClass]="survivedText ? 'show' : 'hide'">
    <div class="dialog-container">
      <h1 [ngClass]="survivedText? 'survived-text': 'none'"> {{ survivedText }}</h1>
      <h4 [ngClass]="survivedText? 'survived-text': 'none'" class="flavor-text">With {{ value }}% chance</h4>
    </div>
  </div>


</div>
