.content {
  background-color: #f4f4f4;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.type-detail {
  padding: 10px;
}

.survived-text {
  font-size: 60px;
  text-align: center;
  animation: fadein 5s cubic-bezier(1, 0, 1, 0) forwards;

  &.flavor-text {
    font-size: 20px !important;
  }
}

@keyframes fadein {
  from {
    opacity: 0;
    transform: rotateZ(10deg);
  }
  to {
    transform: rotateZ(-10deg);
    opacity: 1;
  }
}

label {
  font-size: 2rem;
  font-weight: 600;
}

input {
  font-size: 2rem;
  border-radius: 10px;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

input[ type="checkbox"] {
  height: 25px;
  aspect-ratio: 1;
  border: 5px;
  font-size: 2rem;
  border-radius: 10px;
}

button {
  flex: 1;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  font-weight: bolder;
  color: white;
  background-color: #5d0202;
}

.dialog {
  content: "";
  position: absolute;
  background-color: #7676766B;
  width: 100%;
  z-index: 9999;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.1s;

  &.show {
    scale: 1;
    opacity: 1;
  }

  &.hide {
    scale: 0;
    opacity: 0;
  }

  & .dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    height: 300px;
    background-color: white;
  }
}

.button-container {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
