.container {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 40px;
  min-height: 100vh;
}

.teste {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  max-height: 100vh;
  overflow-y: auto;
  align-items: center;
  justify-items: center;

  & .button {
    border-radius: 10px;
    transition: all ease 0.3s;
    overflow: hidden;

    & .icon {
      max-width: 100%;
    }

    &:hover {
      cursor: pointer;
    }
  }
}

.damage-type {
  width: 100%;
  gap: 10px;
  display: flex;
  align-items: center;
  flex-direction: row;
  font-size: 1.2rem;
  font-weight: bold;

  & .item-type {
    padding: 5px;
    cursor: pointer;
    transition: all ease 0.3s;

    &.selected {
      border-radius: 8px;
      transition: all ease 0.3s;
      background-color: green;
    }
  }
}

.base-multiplier {
  justify-self: center;
}

aside {
  display: flex;
  flex-direction: column;
  gap: 10px;
  flex: 1;
  max-height: 100vh;
  padding: 10px;
  background-color: greenyellow;
}

.survived-text {
  font-size: 80px;
  text-align: center;
  animation: fadein 5s cubic-bezier(1, 0, 1, 0) forwards, jiggle 0.5s ease-in-out infinite alternate;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes jiggle {
  from {
    transform: rotateZ(10deg);
  }
  to {
    transform: rotateZ(-10deg);
  }
}

label {
  font-size: 2rem;
  font-weight: 500;
}

input {
  height: 25px;
  aspect-ratio: 1;
  font-size: 2rem;
  padding: 10px;
  border-radius: 10px;
}

button {
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 10px;
  font-size: 2rem;
  background-color: #00ee19;
}

.dialog {
  content: "";
  position: absolute;
  background-color: #7676766B;
  width: 100%;
  z-index: 9999;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease 0.1s;

  &.show {
    scale: 1;
    opacity: 1;
  }

  &.hide {
    scale: 0;
    opacity: 0;
  }

  & .dialog-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
    width: 400px;
    border-radius: 10px;
    height: 200px;
    background-color: white;
  }
}
